

.analystContainer{

    display: flex;
    flex-direction: column;

    .anaylistCalendarDateBox{
        display: flex;
        flex-direction: row;
        place-items: center;
        }

    .rightCalendarBox{
        display: flex;
    }

    .analystCell{
        width: 20px;
        height: 20px;
        border: 1px solid #CED4DA;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .yellowBg {
        background-color: yellow;
    }

    .selectedBorder{
        border: solid 1px black;
    }
}

